.button-group {
  width: 60%;
  margin: 0 auto;
  margin-bottom: 30px;
}

.button-group > button {
  margin-left: 15px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
